/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: aqua; */
    font-family: Geneva, sans-serif
}

.logo {
    width: 3rem;
    height: 3rem;
    margin-left: 2rem;
}